@keyframes projectsAnim1 {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes projectsAnim2 {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}
.projects-list{
    min-height: 600px;

    padding-inline: 160px;
    padding-block: 50px;
    margin-top: 50px;

    border: 1px solid;
    border-image: 
    linear-gradient(135deg, #FF0099 0%, 
    rgba(255, 0, 153, 0) 40%, 
    rgba(255, 0, 153, 0) 65%, 
    #AD00FF 100%) 1;
}
.projects-list-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    display: flex;

    height: 50px;
    width: 400px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.search-input-wrap{
    display: flex;
    align-items: center;

    width: 350px;
}
.search-input{
    height: 100%;
    width: 100%;

    font-size: 16px;

    padding-left: 10px;
}
.search-input-wrap img{
    cursor: pointer;

    height: 35px;
    width: 35px;

    filter: brightness(0.7);

    transition: 300ms;
}
.search-icon-wrap{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;

    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.search-icon-wrap img{
    height: 25px;
    width: 25px;

    filter: brightness(0.7);

    transition: 300ms;    
}
.search-icon-wrap img:hover, .search-input-wrap img:hover{
    filter: brightness(1);
}
.projects-list-menu-buttons{
    display: flex;
}
.projects-list-btn{
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;

    padding: 10px;
    margin-left: 28px;

    transition: 300ms;

    border-radius: 10px;
    background-color: transparent;
}
.projects-list-btn:first-child{
    margin-left: 0px;
}
.projects-list-btn:hover{
    background-color: #FFFFFF;
    color: #171717;
}
.projects-list-menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    overflow-y: auto;
    max-height: 450px;

    margin-top: 50px;
    padding-inline: 5px;
}
.projects-list-menu-items::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.projects-list-menu-items::-webkit-scrollbar-thumb {
    background: #FF0099;

    border-radius: 100px;
}
.list-item{
    box-sizing: border-box;

    padding: 30px;
    margin-top: 40px;

    border: 1px solid;
    border-image: linear-gradient(135deg, #FF0099 0%, #AD00FF 100%) 1;
}
.list-item:nth-child(1){
    margin-top: 0px;
}
.list-item:nth-child(2){
    margin-top: 0px;
}
.item-image{
    height: 191px;
    width: 340px;
}
.item-name{
    text-align: center;

    font-weight: 600;
    font-size: 28px;

    margin-top: 25px;
}
sup{
    font-weight: 500;
    font-size: 16px;

    padding-left: 5px;

    background: linear-gradient(90deg, #AD00FF 0%,#FF0099  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.item-buttons{
    display: flex;
    justify-content: space-between;

    margin-top: 25px;
}
.item-buttons div{
    cursor: pointer;

    font-weight: 600;
    font-size: 14px;

    padding: 25px;

    transition: 300ms;
}
.preview:hover{
    color: #FF0099;
}
.checkOnGithub{
    border-radius: 50px;
    outline: 1px solid #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}
.checkOnGithub:hover{
    background-color: #FFFFFF;
    color: rgba(23, 23, 23, 1);

    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.25);
}
.project-not-found{
    text-align: center;

    width: 100%;

    font-weight: 500;
    font-size: 30px;

    margin-top: 30px;
}

@media (max-width: 1440px) {
    @keyframes projectsAnim2 {
        from{
            opacity: 0;
            transform: translateY(-40px);
        }to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .projects-list{
        min-height: 500px;
    
        padding-inline: 95px;
        padding-block: 50px;
        margin-top: 45px;
    }
    .projects-list-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .search-bar{
        height: 45px;
        width: 450px;

        margin-top: 25px;
    }
    .search-input-wrap{
        width: 400px;
    }
    .search-input{
        font-size: 14px;
    }
    .search-input-wrap img{
        height: 32px;
        width: 32px;
    }
    .search-icon-wrap{
        width: 50px;
        height: 100%;
    }
    .search-icon-wrap img{
        height: 22px;
        width: 22px;
    }
    .projects-list-menu-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        overflow-y: auto;
        max-height: 400px;
    
        margin-top: 50px;
    }
    .list-item{
        padding: 25px;
        margin-top: 50px;
    }
    .item-image{
        height: 168.5px;
        width: 300px;
    }
    .item-name{
        font-size: 24px;
    
        margin-top: 17.5px;
    }
    sup{
        font-size: 14px;
    }
    .item-buttons{ 
        margin-top: 20px;
    }
    .item-buttons div{
        font-weight: 500;
        font-size: 12px;
    
        padding: 20px;
    }
    .project-not-found{
        margin-top: 20px;
    }
}
@media (max-width: 1024px) {
    @keyframes projectsAnim2 {
        from{
            opacity: 0;
            transform: translateY(-35px);
        }to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .projects{
        margin-top: 175px;
    }
    .projects-list{
        min-height: 500px;
    
        padding-inline: 162px;
        padding-block: 40px;
        margin-top: 40px;
    }
    .search-bar{
        width: 400px;

        margin-top: 20px;
    }
    .search-input-wrap{
        width: 350px;
    }
    .search-icon-wrap img{
        height: 20px;
        width: 20px;
    }
    .projects-list-menu-items{
        justify-content: center;
    
        overflow-y: auto;
        max-height: 375px;
    
        margin-top: 40px;
        padding-inline: 5px;
    }
    .list-item{
        padding: 25px;
        margin-top: 40px;
    }
    .list-item:nth-child(2){
        margin-top: 40px;
    }
}
@media (max-width: 800px) {
    @keyframes projectsAnim1 {
        from{
            opacity: 1;
            transform: translateX(0);
        }to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes projectsAnim2 {
        from{
            opacity: 1;
            transform: translateX(0);
        }to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .projects{
        margin-top: 125px;
    }
    .projects-list{
        min-height: 450px;
    
        padding-inline: 50px;
        padding-block: 35px;
        margin-top: 30px;
    }
    .search-bar{
        width: 375px;
        height: 40px;
    }
    .search-input-wrap{
        width: 335px;
    }
    .search-icon-wrap{
        height: 40px;
        width: 40px;
    }
    .search-icon-wrap img{
        height: 18px;
        width: 18px;
    }
    .projects-list-btn{
        font-size: 14px;
    }
    .projects-list-menu-items{
        justify-content: inherit;
        flex-wrap: nowrap;
        max-width: auto;
    
        overflow: auto;
        max-height: auto;
    
        margin-top: 30px;
        padding-inline: 0px;
    }
    .list-item{  
        padding: 25px;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 40px;
    }
    .list-item:nth-child(1){
        margin-left: 0px;
    }
    .list-item:nth-child(2){
        margin-top: 0px;
    }
    .item-image{
        height: 141px;
        width: 250px;
    }
    .item-name{
        font-size: 20px;

        margin-top: 15px;
    }
    .item-buttons{
        margin-top: 20px;
    }
    .item-buttons div{
        font-size: 11px;
        font-weight: 400;

        padding: 15px;
    }
    .project-not-found{
        font-size: 26px;
    }
}
@media (max-width: 600px) {
    .projects{
        margin-top: 75px;
    }
    .projects-list{
        min-height: 370px;
    
        padding-inline: 15px;
        padding-block: 15px;
        margin-top: 20px;
    }
    .search-bar{
        width: 290px;
        height: 35px;

        margin-top: 15px;
    }
    .search-input-wrap{
        width: 255px;
    }
    .search-icon-wrap{
        height: 35px;
        width: 35px;
    }
    .search-icon-wrap img{
        height: 15px;
        width: 15px;
    }
    .projects-list-btn{
        font-size: 12px;

        margin-left: 8px;
    }
    .projects-list-menu-items{
        margin-top: 25px;
    }
    .list-item{
        padding: 15px;
        margin-left: 30px;
    }
    .list-item:first-child{
        margin-left: 30px;
    }
    .item-image{
        height: 112px;
        width: 200px;
    }
    .item-name{
        font-size: 16px;

        margin-top: 10px;
    }
    .item-buttons{
        margin-top: 15px;
    }
    .item-buttons div{
        font-size: 10px;
    
        padding: 10px;
    }
    .project-not-found{
        font-size: 20px;
    }
}
