$white: #FAEFFF;
$gray: rgba(250, 239, 255, 0.5);
$darkGray: #171717;
$black: #010A08;
$transparentBlack: rgba(1, 10, 8, 0.5);
$pink: #ff0099;
$projectsPath: rgba(255, 0, 153, 0.5);
$purple: #ad00ff;
$darkPurple: #8300C0;
$borderColor: rgba(173, 0, 255, 0.5);
$glow: #4200FF;
$lightGradient: linear-gradient(90deg, #FF0099 0%, #AD00FF 100%);
$darkGradient: linear-gradient(90deg, #BC0071 0%, #8300C0 100%);


$borderGradient: linear-gradient(var(--angle), #FF0099 0%, transparent 35%, transparent 70%, #AD00FF 100%);
$borderGradientReverse: linear-gradient(var(--angle), #AD00FF 0%, transparent 35%, transparent 70%, #FF0099 100%);

@keyframes rotate {
  to {
    --angle: 495deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 135deg;
  inherits: false;
}

//for DOM
:root {
  --dark: #010a08;
  --purple: #ad00ff;
  --pink: #ff0099;
  --darkGray: #171717;
}