$pink: #ff0099;
$purple: #ad00ff;
$borderColor: rgba(173, 0, 255, 0.5);
$glow: rgba(66, 0, 255, 1);
$dark: #010a08;
$gray: rgba(255, 255, 255, 0.5);
$darkGray: #171717;
//for DOM
:root {
  --dark: #010a08;
  --purple: #ad00ff;
  --pink: #ff0099;
}
