@import "../../scssPartials/_colors";

.random-paths {
    position: fixed;
    z-index: -2;
    inset: 0;

    width: 100vw;
    height: 100vh;

    pointer-events: none;
}

.matrix {
    position: fixed;
    z-index: -1;
    top: 0;
    inset: 0;
    
    width: 100vw;
    height: 100vh;

    pointer-events: none;
}