@import "../../scssPartials/_colors";
@import "../../scssPartials/_breakpoints";

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {

    transform: translateX(-100%);
  }
}

//mobile-navbar is not rendered in desktop resolutions
//so this is just a extra guard
.mobile-navbar {
  display: none;
}

@media (max-width: $lg-mb) {
  .mobile-navbar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    width: calc($lg-mb / 2);
    height: 100%;

    background: $black;
    border-right: 1px solid $borderColor;

    animation: slideIn 0.25s;
    transition: transform 500ms;
    filter: drop-shadow(0px 0px 3px $glow);

    &.closing {
      animation: slideOut 0.25s forwards;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: $black;
    }

    &::-webkit-scrollbar-thumb {
      background: $borderColor;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $purple;
    }

    .mobile-navbar-buttons {
      display: flex;
      justify-content: space-between;

      position: sticky;
      top: 0;
      padding: 40px;

      background-color: $black;

      .mobile-logo {
        width: 65px;
        height: auto;

        &.active-section {
          filter: drop-shadow(0px 0px 6px $purple) drop-shadow(0px 0px 6px $purple)
        }
      }

      .close-navbar {
        width: 50px;
        height: auto;
      }
    }

    .mobile-navbar-menu {
      display: flex;
      flex-direction: column;

      padding: 40px;
      row-gap: 30px;

      li {
        font-family: "Orbitron", sans-serif;
        font-size: 18px;

        cursor: pointer;

        &.active-section {
          color: $purple;
        }

        &:not(.active-section):hover {
          color: $pink;
        }
      }
    }

    .mobile-navbar-socials {
      display: flex;

      column-gap: 20px;
      padding-inline: 40px;

      a {
        width: 40px;
        height: auto;

        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    hr {
      margin-inline: 40px;
      margin-top: 40px;

      width: auto;
    }
  }
}

@media (max-width: $md-mb) {
  .mobile-navbar {
    width: 100%;

    border: none;
    filter: none;

    .mobile-navbar-buttons {
      padding: 35px;

      .close-navbar {
        width: 45px;
      }
    }

    .mobile-navbar-menu {
      row-gap: 25px;
      padding: 35px;

      li {
        font-size: 18px;
      }
    }

    .mobile-navbar-socials {
      padding-inline: 35px;

      a {
        width: 35px;
      }
    }

    hr {
      margin-inline: 35px;
      margin-top: 35px;
    }
  }
}

@media (max-width: $sm-mb) {
  .mobile-navbar {
    .mobile-navbar-buttons {
      padding: 30px;

      .close-navbar {
        width: 40px;
      }
    }

    .mobile-navbar-menu {
      row-gap: 20px;
      padding: 30px;

      li {
        font-size: 16px;
      }
    }

    .mobile-navbar-socials {
      padding-inline: 30px;

      a {
        width: 30px;
      }
    }

    hr {
      margin-inline: 30px;
      margin-top: 30px;
    }
  }
}