@import "../../scssPartials/_colors";

.mobile-navbar {

  display: none;
}

.mobile-navbar::-webkit-scrollbar {
  width: 3px;
}

.mobile-navbar::-webkit-scrollbar-track {
  background: $black;
}

.mobile-navbar::-webkit-scrollbar-thumb {
  background: $borderColor;
}

.mobile-navbar::-webkit-scrollbar-thumb:hover {
  background: $purple;
}

@media (max-width: 1024px) {
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }

    to {

      transform: translateX(-100%);
    }
  }

  .mobile-navbar {
    display: flex;
    flex-direction: column;

    width: 512px;
    height: 100%;
    box-sizing: border-box;

    overflow-y: auto;

    animation: slideIn 0.25s;
    transition: 500ms;

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    background: $black;
    border-right: 1px solid $borderColor;
    filter: drop-shadow(0px 0px 3px $glow);

    &.closing {
      animation: slideOut 0.25s forwards;
    }

    .mobile-navbar-buttons {
      display: flex;
      justify-content: space-between;

      position: sticky;
      top: 0;

      background-color: $black;

      padding: 40px;

      .mobile-logo {
        width: 65px;
        height: auto;

        &.active-section {
          filter: drop-shadow(0px 0px 6px $purple) drop-shadow(0px 0px 6px $purple)
        }
      }

      .close-navbar {
        cursor: pointer;

        height: 50px;
        width: 50px;

        transition: 300ms;
      }
    }

    .mobile-navbar-menu {
      display: flex;
      flex-direction: column;
      padding: 40px;
      row-gap: 30px;

      li {
        font-family: "Orbitron", sans-serif;
        cursor: pointer;

        font-size: 18px;

        &.active-section {
          color: $purple;
        }

        &:not(.active-section):hover {
          color: $pink;
        }
      }
    }

    .mobile-navbar-socials {
      display: flex;

      column-gap: 20px;
      padding-inline: 40px;

      a {
        height: 40px;
        width: 40px;

        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    hr {
      width: auto;
      margin-inline: 40px;
      margin-top: 40px;
    }
  }
}

@media (max-width: 800px) {
  .mobile-navbar {
    width: 100%;

    .mobile-navbar-buttons {
      padding: 35px;

      .close-navbar {
        height: 45px;
        width: 45px;
      }
    }

    .mobile-navbar-menu {
      row-gap: 25px;
      padding: 35px;

      li {
        font-size: 18px;
      }
    }

    .mobile-navbar-socials {
      padding-inline: 35px;

      a {
        height: 35px;
        width: 35px;
      }
    }

    hr {
      margin-inline: 35px;
      margin-top: 35px;
    }
  }
}

@media (max-width: 600px) {
  .mobile-navbar {
    .mobile-navbar-buttons {
      padding: 30px;

      .close-navbar {
        height: 40px;
        width: 40px;
      }
    }

    .mobile-navbar-menu {
      row-gap: 20px;
      padding: 30px;

      li {
        font-size: 16px;
      }
    }

    .mobile-navbar-socials {
      padding-inline: 30px;

      a {
        height: 30px;
        width: 30px;
      }
    }

    hr {
      margin-inline: 30px;
      margin-top: 30px;
    }
  }
}