@import "../../scssPartials/_colors";

.about {
  margin-top: 200px;

  .section-title {
    line-height: 60%;
  }

  .easter-egg-hint {
    font-weight: 300;
    font-size: 14px;
    color: $gray;
  }
}

.about-content-wrap {
  margin-top: 50px;
  column-gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: inherit;
    flex-direction: column;
    row-gap: 30px;

    P {
      font-size: 20px;

      span {
        color: $white;
        opacity: 85%;
        transition: color 300ms;

        &.colored {
          color: $pink;
          opacity: 100%;
        }
      }
    }
  }
}

@media(max-width: 1440px) {
  .about {
    .easter-egg-hint {
      font-size: 12px;
    }
  }

  .about-content-wrap {
    margin-top: 45px;

    div {
      row-gap: 25px;

      P {
        font-size: 16px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .about {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      line-height: 70%;
    }

    .easter-egg-hint {
      font-size: 11px;
    }
  }

  .about-content-wrap {
    row-gap: 25px;
    margin-top: 40px;
    flex-direction: column;
    width: 80%;
  }
}

@media(max-width: 800px) {
  .about {
    margin-top: 125px;
  }

  .about-content-wrap {
    margin-top: 35px;
    width: 70%;

    div {
      P {
        font-size: 14px;
      }
    }
  }
}

@media(max-width: 600px) {
  .about {
    margin-top: 75px;
  }

  .about-content-wrap {
    margin-top: 25px;
    width: 100%;
    row-gap: 20px;

    div {
      row-gap: 20px;

      P {
        font-size: 14px;
      }
    }
  }
}