@use "../../scssPartials/_colors" as *;
@use "../../scssPartials/_breakpoints" as *;

.about {
  .section-title {
    //to make subnote closer to title
    line-height: 60%;
  }

  .easter-egg-hint {
    font-size: 14px;
    font-weight: 300;

    color: $gray;
  }

  .about-content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 50px;
    column-gap: 50px;

    &>div {
      display: flex;
      flex-direction: column;

      row-gap: 30px;

      p {
        font-size: 20px;

        span {
          color: $white;

          transition: color 300ms;

          &.colored {
            color: $pink;
          }
        }
      }
    }
  }
}



//intersection observer
.about .about-content-wrap {
  $transitionDuration: 300ms;
  $transitionDelay: 75ms;

  &>div {
    transition: transform $transitionDuration, opacity calc($transitionDuration*2);

    &:first-child {
      transition-delay: $transitionDelay;

      &.not-in-view {
        transform: translateX(-50px);
        opacity: 0;
      }
    }

    &:last-child {
      transition-delay: $transitionDelay*2;

      &.not-in-view {
        transform: translateX(50px);
        opacity: 0;
      }
    }

  }
}

@media(max-width: $sm-d) {
  .about {
    .easter-egg-hint {
      font-size: 12px;
    }

    .about-content-wrap {
      margin-top: 45px;

      &>div {
        row-gap: 25px;

        p {
          font-size: 16px;
        }
      }
    }
  }


}

@media(max-width: $lg-mb) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      line-height: 70%;
    }

    .easter-egg-hint {
      font-size: 11px;
    }

    .about-content-wrap {
      row-gap: 25px;
      margin-top: 40px;
      flex-direction: column;
      width: 80%;
    }
  }


}

@media(max-width: $md-mb) {
  .about {
    .about-content-wrap {
      margin-top: 35px;
      width: 70%;

      &>div {
        p {
          font-size: 14px;
        }
      }
    }
  }

}

@media(max-width: $sm-mb) {
  .about {
    .about-content-wrap {
      margin-top: 25px;
      width: 100%;
      row-gap: 20px;

      &>div {
        row-gap: 20px;

        p {
          font-size: 14px;
        }
      }
    }
  }
}