@import "../../scssPartials/_colors";

.tech-stack {
    user-select: none;

    .section-title {
        margin-bottom: 50px;
    }

    .pcb-note {
        display: flex;
        font-size: 18px;
        color: $gray;
        justify-content: end;
    }

    .pcb-wrap {
        position: relative;
        background-color: $black;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 1px;
            animation: rotate linear infinite 10s;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;

            pointer-events: none;
            background: $borderGradientReverse;
            z-index: 1;
        }

        &.full-screen {
            position: fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }

    .pcb-menu-wrap {
        position: absolute;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        pointer-events: none;

        .pcb-menu {
            background-color: $black;
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 10px;
            border-bottom: 1px solid $projectsPath;
            border-left: 1px solid $projectsPath;

            p {
                span {
                    color: $gray;

                    &.full-screen {
                        color: $pink;
                    }
                }
            }

            button {
                pointer-events: initial;
                border: 1px solid $pink;
                padding: 5px 10px;
            }

            svg {
                cursor: pointer;
                width: 30px;
                height: auto;
                pointer-events: initial;

                &:hover path {
                    fill: $pink;
                }
            }
        }


    }

    .pcb {
        height: 600px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        background-image:
            radial-gradient(circle at center, $gray 1px, transparent 1.5px),
            radial-gradient(circle at center, $darkGray 0.66px, transparent 1px);

        background-size: 40px 40px, 40px 40px;
        background-position: -0px -0px, 0px 0px;
        background-repeat: repeat, repeat;
        padding: 15px;
        cursor: grab;

        touch-action: none;

        &:active {
            cursor: grabbing;
        }

        &.full-screen {
            height: 100%;
            width: 100%;
        }

        .pcb-logo-wrap {
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
            padding: 35px;
            border-radius: 10px;
            background-color: $transparentBlack;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 3px;
                animation: rotate linear infinite 10s;
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;

                pointer-events: none;
                background: $borderGradient;
                z-index: 1;
                border-radius: 10px;
            }
        }

        .pcb-world {
            transform-origin: 0 0;

            contain: layout style; //prevents the world elements from jumping after zooming

            .section-name {
                border: 3px solid $darkPurple;
                font-size: 24px;
                font-weight: 600;
                font-family: "Orbitron";
                padding: 15px 30px;
                border-radius: 10px;
                background-color: $transparentBlack;
                position: absolute;
            }

            .nodes-wrap {
                position: absolute;
                display: grid;

                .node-wrap {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    grid-template-rows: repeat(4, auto);
                    grid-column-gap: 15px;
                    grid-row-gap: 10px;
                    width: min-content;
                    height: min-content;
                    position: relative;

                    &:has(.sub-node) {
                        justify-self: start;
                    }

                    &:not(:has(.sub-node)) {
                        justify-self: end;
                    }

                    &>div {
                        border-radius: 10px;
                        border-style: solid;
                        border-color: $projectsPath;
                        box-sizing: border-box;

                        background-color: $transparentBlack;
                        cursor: pointer;
                        -webkit-user-drag: none;
                        -khtml-user-drag: none;
                        -moz-user-drag: none;
                        -o-user-drag: none;

                        img {
                            border-radius: 5px;
                            -webkit-user-drag: none;
                            -khtml-user-drag: none;
                            -moz-user-drag: none;
                            -o-user-drag: none;
                        }
                    }
                }

                .main-node {
                    border-width: 2px;
                    grid-area: 2 / 2 / 4 / 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                    gap: 5px;
                    padding: 5px 10px;
                    width: max-content;
                    height: max-content;

                    font-size: 13px;

                    img {
                        width: 60px;
                        height: 60px;
                    }
                }

                .sub-node {
                    border-width: 1px;
                    gap: 5px;
                    display: flex;
                    padding: 5px;
                    width: max-content;
                    height: max-content;
                    align-items: center;
                    justify-self: flex-start;

                    font-size: 11px;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }

                .sub-node:nth-child(2) {
                    grid-area: 3 / 1 / 4 / 2;
                }

                .sub-node:nth-child(3) {
                    grid-area: 2 / 1 / 3 / 2;
                    justify-self: flex-end;
                }

                .sub-node:nth-child(4) {
                    grid-area: 1 / 1 / 2 / 2;
                    position: relative;
                    justify-self: flex-end;
                    left: 47.5px;
                }

                .sub-node:nth-child(5) {
                    grid-area: 1 / 3 / 2 / 4;
                    position: relative;
                    right: 47.5px;
                }

                .sub-node:nth-child(6) {
                    grid-area: 2 / 3 / 3 / 4;
                }

                .sub-node:nth-child(7) {
                    grid-area: 3 / 3 / 4 / 4;
                }

                .sub-node:nth-child(8) {
                    grid-area: 4 / 3 / 5 / 4;
                    position: relative;
                    right: 47.5px;
                }

                .sub-node:nth-child(9) {
                    grid-area: 4 / 1 / 5 / 2;
                    position: relative;
                    justify-self: flex-end;
                    left: 47.5px;
                }
            }
        }
    }
}

//Build Mode
.tech-stack .pcb .pcb-world {
    .section-name.build-mode:hover {
        background-color: rgba(110, 110, 110, 0.5);
    }

    .nodes-wrap.build-mode {
        box-sizing: border-box;
        background-color: rgba(46, 46, 46, 0.5);

        &:hover {
            background-color: rgba(110, 110, 110, 0.5);
        }
    }
}

//pcb paths
.tech-stack .pcb .pcb-world {
    .nodes-wrap .node-wrap {
        &.path-direction-top {
            align-self: flex-start;
        }

        &.path-direction-bottom {
            align-self: flex-end;
        }

        @keyframes techstackPowerOnBorder {
            0% {
                border-color: $projectsPath;
            }

            25% {
                border-color: rgba(255, 0, 153, 0.60);
                box-shadow: (0px 0px 1px $glow);
            }

            50% {
                border-color: $projectsPath;
                box-shadow: none;
            }

            75% {
                border-color: rgba(255, 0, 153, 0.70);
                box-shadow: (0px 0px 2px $glow);
            }

            85% {
                border-color: rgba(255, 0, 153, 0.85);
                box-shadow: (0px 0px 4px $glow);
            }

            /* stable full power */
            100% {
                border-color: $pink;
                box-shadow: (0px 0px 5px $glow);
            }
        }

        @keyframes techStackPowerOnImg {

            /* start dim */
            0% {
                filter: grayscale(100%);
            }

            25% {
                filter: grayscale(30%);
            }

            50% {
                filter: grayscale(100%) drop-shadow(0px 0px 0.5px $glow);
            }

            75% {
                filter: grayscale(25%) drop-shadow(0px 0px 1px $glow);
            }

            85% {
                filter: grayscale(25%) drop-shadow(0px 0px 1.5px $glow);
            }

            100% {
                filter: drop-shadow(0px 0px 2px $glow);
            }
        }

        //duplicate is necessary for DOM
        @keyframes techstackPowerOnBorderReverse {
            0% {
                border-color: $projectsPath;
            }

            25% {
                border-color: rgba(255, 0, 153, 0.60);
                box-shadow: (0px 0px 1px $glow);
            }

            50% {
                border-color: $projectsPath;
                box-shadow: none;
            }

            75% {
                border-color: rgba(255, 0, 153, 0.70);
                box-shadow: (0px 0px 2px $glow);
            }

            85% {
                border-color: rgba(255, 0, 153, 0.85);
                box-shadow: (0px 0px 4px $glow);
            }

            /* stable full power */
            100% {
                border-color: $pink;
                box-shadow: (0px 0px 5px $glow);
            }
        }

        @keyframes techStackPowerOnImgReverse {

            /* start dim */
            0% {
                filter: grayscale(100%);
            }

            25% {
                filter: grayscale(30%);
            }

            50% {
                filter: grayscale(100%) drop-shadow(0px 0px 0.5px $glow);
            }

            75% {
                filter: grayscale(25%) drop-shadow(0px 0px 1px $glow);
            }

            85% {
                filter: grayscale(25%) drop-shadow(0px 0px 1.5px $glow);
            }

            100% {
                filter: drop-shadow(0px 0px 2px $glow);
            }
        }

        .main-node,
        .sub-node {
            img {
                filter: grayscale(100%)
            }

            &.active {
                animation: techstackPowerOnBorder 500ms forwards;

                & img {
                    animation: techStackPowerOnImg 500ms forwards;
                }
            }

            &.deactivating {
                animation: techstackPowerOnBorderReverse 500ms reverse;

                & img {
                    animation: techStackPowerOnImgReverse 500ms reverse;
                }
            }
        }
    }

    .pcb-paths {
        position: absolute;
        fill: none;
        stroke: $projectsPath;
        stroke-linejoin: bevel;
        z-index: -1;

        width: 1px;
        height: 1px;

        overflow: visible;

        .ball {
            fill: $pink;
            stroke: none;
            r: 3;
        }

        .path-section {
            stroke-width: 3px;
        }

        .node-section,
        .subNode-section {
            stroke-width: 2px;
        }
    }
}


//intersector observer
.tech-stack .pcb-wrap {
    transition: transform 300ms, opacity 300ms;

    &.not-in-view {
        transform: translatex(-50px);
        opacity: 0%;
    }
}

@media (max-width: 1440px) {
    .tech-stack {

        .section-title {
            margin-bottom: 45px;
        }

        .pcb-note {
            font-size: 16px;
        }

        .pcb-menu-wrap {
            .pcb-menu {
                p {
                    font-size: 14px;
                }
            }
        }

        .pcb {
            height: 525px;
        }
    }
}

@media (max-width: 1024px) {
    .tech-stack {

        .section-title {
            margin-bottom: 40px;
        }

        .pcb-note {
            font-size: 14px;
        }

        .pcb-menu-wrap {
            .pcb-menu {
                p {
                    font-size: 13px;
                }

                svg {
                    width: 27.5px;
                }
            }
        }

        .pcb {
            height: 410px;
        }
    }

}

@media (max-width: 800px) {
    .tech-stack {

        .section-title {
            margin-bottom: 35px;
        }

        .pcb-note {
            font-size: 11px;
        }

        .pcb-menu-wrap {
            .pcb-menu {
                padding: 5px;

                p {
                    font-size: 12px;
                }

                svg {
                    width: 25px;
                }
            }
        }

        .pcb {
            height: 350px;
        }
    }
}

@media (max-width: 600px) {
    .tech-stack {
        .section-title {
            margin-bottom: 30px;
        }

        .pcb-note {
            font-size: 9px;
        }

        .pcb-menu-wrap {
            .pcb-menu {
                padding: 5px;

                p {
                    font-size: 11px;
                }

                svg {
                    width: 22.5px;
                }
            }
        }

        .pcb {
            height: 260px;
        }
    }
}