@import "../../scssPartials/_colors";

.tech-stack {
  margin-top: 200px;
}

.tech-stack h1 {
  margin-bottom: 50px;
}

.tech-stack .pcb-note {
  color: $gray;
  font-size: 18px;
}

.tech-stack .pcb {
  margin-top: 0px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  background: $black;
  padding: 15px;
}

.tech-stack .pcb::before {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
  z-index: 1;

  background-image:
    radial-gradient(circle at center, $borderColor 1px, transparent 2px),
    radial-gradient(circle at center, $darkGray 0.66px, transparent 1.5px);

  background-size: 80px 80px, 40px 40px, 40px 40px;
  background-position: -20px -20px, 0px 0px, 20px 20px;
  background-repeat: repeat, repeat, repeat;

  mix-blend-mode: screen;
}

/* make sure content inside sits above the patterns */
.tech-stack .pcb>* {
  position: relative;
  z-index: 1;
}

.tech-stack .pcb .pcb-components {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  height: 100%;
}

.tech-stack .pcb .pcb-component {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: fit-content;

}

.tech-stack .pcb-component:nth-child(1) {
  grid-area: 1 / 1 / 5 / 5;
  max-width: 70%;


  ul:nth-child(3) {
    align-items: end;
    height: auto;
  }
}

.tech-stack .pcb-component:nth-child(2) {
  grid-area: 1 / 6 / 6 / 11;
  justify-content: end;
  max-width: 90%;
  justify-self: right;

  ul:nth-child(2) {
    align-items: end;
    height: auto;
  }

}

// .tech-stack .pcb-component:nth-child(3) { backend
//   grid-area: 6 / 1 / 11 / 6;
// }

.tech-stack .pcb-component:nth-child(3) {
  grid-area: 6 / 6 / 11 / 11;
  justify-content: end;
  align-self: flex-end;
  align-items: center;

  & ul {
    order: 2;
  }

  li.pcb-section {
    align-self: flex-start;
  }
}

@keyframes powerOnBorder {

  /* start dim */
  0% {
    border-color: rgba(255, 0, 153, 0.5);
  }

  25% {
    border-color: rgba(255, 0, 153, 0.60);
    filter: drop-shadow(0px 0px 3px $glow);
  }

  50% {
    border-color: rgba(255, 0, 153, 0.50);
    filter: none;
  }

  75% {
    border-color: rgba(255, 0, 153, 0.70);
    filter: drop-shadow(0px 0px 3.5px $glow);
  }

  85% {
    border-color: rgba(255, 0, 153, 0.85);
    filter: drop-shadow(0px 0px 6.5px $glow);
  }

  /* stable full power */
  100% {
    border-color: $pink;
    filter: drop-shadow(0px 0px 10px $glow);
  }
}

@keyframes PowerOnImg {

  /* start dim */
  0% {
    filter: grayscale(100%);
  }

  25% {
    filter: grayscale(30%);
  }

  50% {
    filter: grayscale(100%);
  }

  75% {
    filter: grayscale(25%);
  }

  85% {
    filter: grayscale(15%);
  }

  /* stable full power */
  100% {
    filter: none;
  }
}

//it essentially just copy the animation for DOM to detect class change and added reverse to it at invoking
@keyframes powerOnBorderReverse {

  /* start dim */
  0% {
    border-color: rgba(255, 0, 153, 0.5);
  }

  25% {
    border-color: rgba(255, 0, 153, 0.60);
    filter: drop-shadow(0px 0px 3px $glow);
  }

  50% {
    border-color: rgba(255, 0, 153, 0.50);
    filter: none;
  }

  75% {
    border-color: rgba(255, 0, 153, 0.70);
    filter: drop-shadow(0px 0px 3.5px $glow);
  }

  85% {
    border-color: rgba(255, 0, 153, 0.85);
    filter: drop-shadow(0px 0px 6.5px $glow);
  }

  /* stable full power */
  100% {
    border-color: $pink;
    filter: drop-shadow(0px 0px 10px $glow);
  }
}

@keyframes PowerOnImgReverse {

  /* start dim */
  0% {
    filter: grayscale(100%);
  }

  25% {
    filter: grayscale(30%);
  }

  50% {
    filter: grayscale(100%);
  }

  75% {
    filter: grayscale(25%);
  }

  85% {
    filter: grayscale(15%);
  }

  /* stable full power */
  100% {
    filter: none;
  }
}



.tech-stack .pcb .pcb-component .nodes {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  width: fit-content;
  height: fit-content;

  li:nth-child(1) {
    grid-area: 2 / 1 / 4 / 2;
  }

  li:nth-child(2) {
    grid-area: 1 / 1 / 2 / 3;
  }


  li {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: $black;

    &.active {
      animation: powerOnBorder 700ms forwards;

      & img {
        animation: PowerOnImg 700ms forwards;
      }
    }

    &.deactivated {
      animation: powerOnBorderReverse 700ms reverse forwards;

      & img {
        animation: PowerOnImgReverse 700ms reverse forwards;
      }
    }
  }

  & img {
    border-radius: 5px;
    filter: grayscale(100%);
  }
}

.tech-stack .pcb .pcb-component {
  & .nodes:has(.sub-node) {
    row-gap: 10px;
  }

  & .nodes:has(.sub-node + .sub-node) {
    column-gap: 10px;
  }
}



.tech-stack .pcb .main-node {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  font-size: 13px;
  font-weight: 400;
  padding-inline: 10px;
  padding-block: 5px;
  border: 3px solid rgba(255, 0, 153, 0.5);


  & img {
    width: 60px;
    height: 60px;
  }

}

.tech-stack .pcb .sub-node {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 11px;
  font-weight: 400;
  padding: 5px;
  border: 1px solid rgba(255, 0, 153, 0.5);

  & img {
    width: 30px;
    height: 30px;
  }
}

.tech-stack .pcb .submain-node {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  font-size: 11px;
  font-weight: 400;
  padding: 5px;
  border: 1px solid rgba(255, 0, 153, 0.5);

  & img {
    width: 30px;
    height: 30px;
  }

}

.tech-stack .pcb .pcb-section {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border: 3px solid $purple;
  background-color: $black;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(0px 0px 5px $glow);
}

@keyframes CorePulse {
  0% {
    filter: drop-shadow(0px 0px 5px $glow);
  }

  50% {
    filter: drop-shadow(0px 0px 150px $glow);
  }

  100% {
    filter: drop-shadow(0px 0px 5px $glow);
  }
}

.tech-stack .pcb .core {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & svg {
    filter: drop-shadow(0px 0px 5px $glow);
  }

  &.triggered {
    & svg {
      animation: CorePulse 1000ms;
    }
  }
}

.tech-stack .pcb .paths {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & path {
    stroke: rgba(255, 0, 153, 0.5);
    fill: none;
  }

  .ball {
    position: inherit;
    top: 0;
    left: 0;

    & circle {
      fill: $pink;
      stroke: rgba(255, 0, 153, 0.3);
      stroke-width: 8px;
    }
  }
}

//intersection observer
.tech-stack .pcb {
  $transitionDuration: 300ms;
  $transitionDelay: 75ms;
  transition: transform $transitionDuration, $transitionDuration*2;

  &.not-in-view {
    transform: translatey(50px);
    opacity: 0%;
  }
}



@media (max-width: 1440px) {
  .tech-stack h1 {
    margin-bottom: 45px;
  }

  .tech-stack .pcb-note {
    font-size: 17px;
  }

  .tech-stack .pcb {
    height: 525px;
  }

  .tech-stack .pcb-component:nth-child(1) {
    max-width: 80%;

  }

  .tech-stack .pcb .main-node {
    font-size: 12px;


    & img {
      width: 50px;
      height: 50px;
    }
  }

  .tech-stack .pcb .sub-node {
    font-size: 9px;
    padding: 5px;

    & img {
      width: 25px;
      height: 25px;
    }
  }

  .tech-stack .pcb .submain-node {
    font-size: 9px;

    & img {
      width: 25px;
      height: 25px;
    }
  }

  .tech-stack .pcb .pcb-section {
    font-size: 16px;
  }

  .tech-stack .pcb .core svg {
    width: 125px;
  }
}

@media (max-width: 1024px) {
  .tech-stack {
    margin-top: 175px;
  }

  .tech-stack h1 {
    margin-bottom: 40px;
  }

  .tech-stack .pcb-note {
    font-size: 16px;
  }

  .tech-stack .pcb {
    height: 450px;
    padding: 10px;
  }

  .tech-stack .pcb-component:nth-child(1) {
    max-width: 90%;

  }

  .tech-stack .pcb .pcb-component {
    gap: 25px;
  }

  .tech-stack .pcb .main-node {
    font-size: 11px;

    & img {
      width: 40px;
      height: 40px;
    }

    border-width: 2px;
  }

  .tech-stack .pcb .sub-node {
    font-size: 7px;

    & img {
      width: 20px;
      height: 20px;
    }
  }

  .tech-stack .pcb .submain-node {
    font-size: 7px;

    & img {
      width: 20px;
      height: 20px;
    }
  }

  .tech-stack .pcb .pcb-section {
    font-size: 14px;
    border-width: 2px;
  }

  .tech-stack .pcb .core svg {
    width: 100px;
  }
}

@media (max-width: 800px) {
  .tech-stack {
    margin-top: 125px;
  }

  .tech-stack h1 {
    margin-bottom: 35px;
  }

  .tech-stack .pcb-note {
    font-size: 15px;
  }

  .tech-stack .pcb {
    height: 380px;
    padding: 5px;
  }

  .tech-stack .pcb-component:nth-child(1) {
    max-width: 100%;

  }

  .tech-stack .pcb .pcb-component {
    gap: 0px;
    row-gap: 20px;
    column-gap: 10px !important;
  }

  .tech-stack .pcb .main-node {
    font-size: 10px;

    & img {
      width: 35px;
      height: 35px;
    }

    border-width: 2px;
  }

  .tech-stack .pcb .sub-node {
    font-size: 6px;

    & img {
      width: 17.5px;
      height: 17.5px;
    }
  }

  .tech-stack .pcb .submain-node {
    font-size: 6px;

    & img {
      width: 17.5px;
      height: 17.5px;
    }
  }

  .tech-stack .pcb .pcb-section {
    font-size: 11px;
    padding: 5px;
  }

  .tech-stack .pcb .core svg {
    width: 75px;
  }
}

@media (max-width: 600px) {
  .tech-stack {
    margin-top: 75px;
  }

  .tech-stack h1 {
    margin-bottom: 30px;
  }

  .tech-stack .pcb-note {
    font-size: 14px;
  }

  .tech-stack .pcb .pcb-component {
    gap: 0px;
    row-gap: 20px;
    column-gap: 5px !important;
  }

  .tech-stack .pcb .pcb-component {
    & .nodes:has(.sub-node) {
      row-gap: 2.5px;
    }

    & .nodes:has(.sub-node + .sub-node) {
      column-gap: 2.5px;
    }
  }

  .tech-stack .pcb-component:nth-child(1) {
    grid-area: 1 / 1 / 5 / 10;
    max-width: 82%;
  }

  .tech-stack .pcb-component:nth-child(2) {
    grid-area: 1 / 8 / 6 / 11;
    max-width: 62%;
  }

  .tech-stack .pcb .main-node {
    font-size: 8px;
    gap: 1px;
    padding-inline: 5px;
    border-width: 1.5px;

    & img {
      width: 30px;
      height: 30px;
    }
  }

  .tech-stack .pcb .sub-node {
    font-size: 5px;
    gap: 2px;
    padding: 2px;

    & img {
      width: 15px;
      height: 15px;
    }
  }

  .tech-stack .pcb .submain-node {
    font-size: 5px;
    gap: 2.5px;

    & img {
      width: 15px;
      height: 15px;
    }
  }

  .tech-stack .pcb .pcb-section {
    font-size: 10px;
    padding: 5px;
  }

  .tech-stack .pcb .core svg {
    width: 50px;
  }
}