@use "../../scssPartials/_colors" as *;
@use "../../scssPartials/_breakpoints" as *;

@keyframes logoGlow {
  from {
    filter: drop-shadow(0px 0px 1px $glow);
  }

  to {
    filter: drop-shadow(0px 0px 20px $glow);
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  .home-slogan {
    display: flex;
    flex-direction: column;

    row-gap: 5px;

    font-family: "Orbitron", "Sans-serif";

    h1 {
      font-size: 42px;
      font-weight: 600;

      span {
        background: linear-gradient(90deg, $pink 0%, $purple 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    h2 {
      font-size: 30px;
      font-weight: 500;

      span {
        color: $pink;
      }
    }

    h4 {
      font-size: 24px;
      font-weight: 500;

      color: $gray;
    }

  }

  .home-logo {
    width: auto;
    height: 350px;

    animation: logoGlow 2s infinite alternate ease-in;
  }
}

@media (max-width: $sm-d) {
  .home {
    .home-slogan {
      h1 {
        font-size: 38px;
      }

      h2 {
        font-size: 28px;
      }

      h4 {
        font-size: 22px;
      }

    }

    .home-logo {
      height: 300px;
    }
  }
}

@media (max-width: $lg-mb) {
  .home {
    .home-slogan {
      h1 {
        font-size: 34px;
      }

      h2 {
        font-size: 24px;
      }

      h4 {
        font-size: 18px;
      }

    }

    .home-logo {
      height: 250px;
    }
  }
}

@media (max-width: $md-mb) {
  .home {
    .home-slogan {
      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 18px;
      }

      h4 {
        font-size: 13px;
      }

    }

    .home-logo {
      height: 175px;
    }
  }
}

@media (max-width: $sm-mb) {
  .home {
    flex-direction: column;
    justify-content: center;

    row-gap: 35px;

    .home-slogan {
      width: 100%;
      min-height: 90px;

      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 16px;
      }

      h4 {
        font-size: 14px;
      }
    }

    .home-logo {
      height: 200px;
    }
  }
}