@import "../../scssPartials/_colors";

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  .home-slogan {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    h1 {
      font-weight: 600;
      font-size: 48px;

      span {
        background: linear-gradient(90deg, $pink 0%, $purple 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 36px;

      span {
        color: $pink;
      }
    }

    h4 {
      font-weight: 500;
      font-size: 28px;

      color: $gray;
    }

  }

  @keyframes logoGlow {
    from {
      filter: drop-shadow(0px 0px 1px $glow);
    }

    to {
      filter: drop-shadow(0px 0px 20px $glow);
    }
  }

  .home-logo {
    width: 341px;
    height: 400px;

    animation: logoGlow 2s infinite alternate ease-in;
  }
}

@media (max-width: 1440px) {
  .home {
    .home-slogan {
      h1 {
        font-size: 44px;
      }

      h2 {
        font-size: 32px;
      }

      h4 {
        font-size: 24px;
      }

    }

    .home-logo {
      width: 277px;
      height: 325px;
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .home-slogan {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 28px;
      }

      h4 {
        font-size: 20px;
      }

    }

    .home-logo {
      width: 213px;
      height: 250px;
    }
  }
}

@media (max-width: 800px) {
  .home {
    .home-slogan {
      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 22px;
      }

      h4 {
        font-size: 16px;
      }

    }

    .home-logo {
      width: 150px;
      height: 176px;
    }
  }
}

@media (max-width: 600px) {
  .home {
    flex-direction: column;
    justify-content: center;
    row-gap: 35px;

    .home-slogan {
      width: 100%;


      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 16px;
      }

      h4 {
        font-size: 12px;
      }
    }

    .home-logo {
      width: 185px;
      height: 217px;
    }
  }


}