@import "../../scssPartials/_colors";

.navbar {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  transition: background-color 500ms;

  position: fixed;
  z-index: 2;
  top: 0;
  padding: 17px;

  width: 100%;

  background: transparent;
  border-bottom: 1px solid $borderColor;

  &.scrolled {
    background-color: $black;
  }

  .inner-navbar {
    display: flex;
    justify-content: space-between;

    width: 1170px;

    .navbar-logo {
      cursor: pointer;
      width: 56px;
      height: auto;

      transition: filter 1000ms;

      &.active-section {
        filter: drop-shadow(0px 0px 6px $purple) drop-shadow(0px 0px 6px $purple)
      }
    }

    .hamburger {
      display: none;

      cursor: pointer;

      height: 40px;
      width: 40px;
    }

    .navbar-menu {
      display: flex;
      align-items: center;
      gap: 50px;

      li {
        cursor: pointer;

        font-size: 18px;
        font-weight: 500;

        transition: color 300ms;

        &.active-section {
          color: $purple;
        }

        &:not(.active-section):hover {
          color: $pink;
        }

      }
    }

    .navbar-socials {
      display: flex;
      align-items: center;
      column-gap: 5px;

      a {
        height: 40px;
        width: 40px;
      }
    }
  }

}

@media (max-width: 1440px) {
  .navbar {
    .inner-navbar {
      width: 940px;
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding-block: 15px;
    background-color: $black;

    .inner-navbar {
      width: 724px;

      .navbar-logo,
      .navbar-menu,
      .navbar-socials {
        display: none;
      }

      .hamburger {
        display: block;
      }
    }
  }
}

@media (max-width: 800px) {
  @keyframes navbarAnim {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }

  .navbar {
    padding-block: 12px;

    .inner-navbar {
      width: 570px;

      .hamburger {
        height: 30px;
        width: 30px;
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    padding-block: 10px;
    width: 100%;

    .inner-navbar {
      margin-inline: 18px;

      .hamburger {
        height: 24px;
        width: 24px;
      }
    }
  }
}