@use "../../scssPartials/_colors" as *;
@use "../../scssPartials/_breakpoints" as *;
@use "../../scssPartials/_containerWidths" as *;

.navbar {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  position: fixed;
  z-index: 2;
  top: 0;
  padding: 15px;

  width: 100%;

  background: $transparentBlack;
  border-bottom: 1px solid $borderColor;

  transition: background-color 300ms;

  &.scrolled {
    background-color: $black;
  }

  .inner-navbar {
    display: flex;
    justify-content: space-between;

    width: $fhd-w;

    .navbar-logo {
      width: 50px;
      height: auto;

      cursor: pointer;

      transition: filter 1000ms;

      &.active-section {
        filter: drop-shadow(0px 0px 6px $purple) drop-shadow(0px 0px 6px $purple)
      }
    }

    .hamburger {
      display: none;
    }

    .navbar-menu {
      display: flex;
      align-items: center;

      gap: 50px;

      li {
        font-family: "Orbitron", sans-serif;
        font-size: 16px;
        font-weight: 500;

        transition: color 300ms;
        cursor: pointer;

        &:not(.active-section):hover {
          color: $pink;
        }

        &.active-section {
          color: $purple;
        }
      }
    }

    .navbar-socials {
      display: flex;
      align-items: center;

      column-gap: 5px;

      a {
        width: 40px;
        height: auto;
      }
    }
  }

}

@media (max-width: $sm-d) {
  .navbar {
    .inner-navbar {
      width: $sm-d-w;

      .navbar-logo {
        width: 45px;
      }

      .navbar-menu {
        gap: 40px;

        li {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: $lg-mb) {
  .navbar {
    padding-block: 15px;

    background-color: $black;

    .inner-navbar {
      width: $lg-mb-w;

      .navbar-logo,
      .navbar-menu,
      .navbar-socials {
        display: none;
      }

      .hamburger {
        display: block;

        width: 40px;
        height: auto;

        cursor: pointer;
      }
    }
  }
}

@media (max-width: $md-mb) {
  .navbar {
    padding-block: 12px;

    .inner-navbar {
      width: $md-mb-w;

      .hamburger {
        width: 30px;
      }
    }
  }
}

@media (max-width: $sm-mb) {
  .navbar {
    padding-block: 10px;
    padding-inline: 0px;

    .inner-navbar {
      width: $sm-mb-w-precent;

      .hamburger {
        width: 24px;
      }
    }
  }
}