@keyframes footerAnim{
    0%{
        transform: translateY(+50%);
    }
    100%{
        transform: translateY(0);
    }
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 100%;
    box-sizing: border-box;

    margin-top: 125px;

    border-top: 1px solid rgba(173, 0, 255, 0.5);
}
.inner-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1170px;
}
.copyright{
    font-weight: 500;
    font-size: 18px;
}
.copyright span{
    color: #FF0099;
}
.footer-menu{
    display: flex;
}
.footer-menu li{
    cursor: pointer;

    margin-left: 50px;

    transition: 300ms;

    border-bottom: 1px solid transparent;
}
.footer-menu li:first-child{
    margin-left: 0px;
}
.footer-menu li:hover{
    border-color: #FFFFFF;
}
.footer-socials{
    display: flex;
}
.footer-socials img{
    cursor: pointer;

    height: 27px;
    width: 27px;

    filter: grayscale(100%);

    transition: 500ms;

    border-radius: 100px;
}
.footer-socials .social-aTag:nth-child(2){
    margin-inline: 15px;
}
.footer-socials img:hover{
    filter: grayscale(0%);
}

@media (max-width: 1440px) {
    .inner-footer{
        width: 940px;
    }
}
@media (max-width: 1024px) {
    footer{
        height: auto;

        margin-top: 100px;
    }
    .inner-footer{
        flex-direction: column;

        width: 724px;

        padding-block: 45px;
    }
    .footer-menu{
        margin-block: 30px;
    }
    .footer-menu li{
        margin-left: 45px;
    }
    .footer-socials img{
        height: 30px;
        width: 30px;
    
        filter: grayscale(0%);
    }
}
  @media (max-width: 800px) {
    .inner-footer{
        width: 570px;

        padding-block: 35px;
    }
    .footer-menu{
        margin-block: 25px;
    }
    .footer-menu li{
        margin-left: 40px;
    }
    .footer-socials img{
        height: 30px;
        width: 30px;
    
        filter: grayscale(0%);
    }
}
  @media (max-width: 600px) {
    
}