@keyframes  textAnim1{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes  textAnim2{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes  textAnim3{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes  logoAnim{
    0%{
        position: relative;
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}
.home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
}
/*animation delay is necessary because loading screen is about 2s long*/
.home-slogan h1{
    font-weight: 600;
    font-size: 48px;

    animation: textAnim1 1s;
    animation-delay: 1.8s; 
}
.home-slogan h1 span{
    background: linear-gradient(90deg, #FF0099 0%, #AD00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.home-slogan h2{
    font-weight: 500;
    font-size: 36px;

    margin-top: 5px;

    animation: textAnim2 1s;
    animation-delay: 1.8s; 
}
.home-slogan h2 .h2-color{
    color: #FF0099;
}
.home-slogan h4{
    font-weight: 500;
    font-size: 28px;

    margin-top: 5px;

    animation: textAnim3 1s;
    animation-delay: 1.8s; 

    color: rgba(255, 255, 255, 0.5);
}
.home-logo{
    height: 400px;
    width: 400px;

    animation: logoAnim 1.5s;
    animation-delay: 1.8s; 
}

@media (max-width: 1440px) {
    @keyframes  textAnim2{
        0%{
            transform: translateX(-40px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes  logoAnim{
        0%{
            position: relative;
            transform: translateX(+40px);
        }
        100%{
            transform: translateX(0);
        }
    }
    .home-slogan h1{
        font-size: 44px;
    }
    .home-slogan h2{
        font-size: 32px;
    }
    .home-slogan h4{
        font-size: 24px;
    }
    .home-logo{
        height: 325px;
        width: 325px;
    }
}
  @media (max-width: 1024px) {
    @keyframes  textAnim2{
        0%{
            transform: translateX(-35px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes  logoAnim{
        0%{
            position: relative;
            transform: translateX(+35px);
        }
        100%{
            transform: translateX(0);
        }
    }
    .home-slogan h1{
        font-size: 40px;
    }
    .home-slogan h2{
        font-size: 28px;
    }
    .home-slogan h4{
        font-size: 20px;
    }
    .home-logo{
        height: 250px;
        width: 250px;
    }
}
  @media (max-width: 800px) {
    @keyframes  textAnim1{
        0%{
            transform: translateX(0);
            opacity: 1;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes  textAnim2{
        0%{
            transform: translateX(0);
            opacity: 1;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes  textAnim3{
        0%{
            transform: translateX(0);
            opacity: 1;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes  logoAnim{
        0%{
            transform: translateX(0);
            opacity: 1;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    .home-slogan h1{
        font-size: 36px;
    }
    .home-slogan h2{
        font-size: 24px;
    }
    .home-slogan h4{
        font-size: 16px;
    }
    .home-logo{
        height: 135px;
        width: 135px;
    }
}
  @media (max-width: 600px) {
    .home{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .home-slogan{
        width: 95%;
    }
    .home-slogan h1{
        font-size: 24px;
    }
    .home-slogan h2{
        font-size: 12px;
    }
    .home-slogan h4{
        font-size: 8px;
    }
    .home-logo{
        height: 150px;
        width: 150px;

        margin-top: 35px;
    }
}