@keyframes techAnim1 {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}
.technologies{
    margin-top: 200px;
}
.technologies-menu{
    display: flex;
    justify-content: center;

    margin-top: 15px;
}
.technologies-menu li{
    margin-left: 60px;
}
.technologies-menu li:first-child{
    margin-left: 0px;
}
.technologies-button{
    cursor: pointer;

    height: 75px;
    width: 75px;

    transition: 300ms;
}
.technologies-chart{
    margin-top: 40px;
}
.chart-text{
    display: flex;
    justify-content: space-between;
}
.chart-property{
    font-weight: 600;
    font-size: 28px;
}
.chart-precentage{
    font-weight: 600;
    font-size: 18px;
}
.chart-bar{
    width: 100%;
    height: 20px;

    margin-top: 10px;

    background-color: #171717;

    border-radius: 83px; 
}
.chart-inner-bar{
    height: 100%;

    transition: 500ms;

    border-radius: 83px;
}

@media (max-width: 1440px) {
    @keyframes techAnim1 {
        from{
            opacity: 0;
            transform: translateY(-40px);
        }to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .technologies-menu li{
        margin-left: 75px;
    }
    .technologies-menu li:first-child{
        margin-left: 0px;
    }
    .technologies-button{
        height: 60px;
        width: 60px;
    }
    .technologies-button:nth-child(1){
        margin-left: 0px;
    }
    .chart-property{
        font-size: 24px;
    }
    .chart-precentage{
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    @keyframes techAnim1 {
        from{
            opacity: 0;
            transform: translateY(-35px);
        }to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .technologies-menu{
        margin-top: 25px;
    }
    .technologies-menu li{
        margin-left: 60px;
    }
    .technologies-button{
        height: 60px;
        width: 60px;
    }
    .technologies-chart{
        margin-top: 30px;
    }
    .chart-text{
        display: flex;
        justify-content: space-between;
    }
    .chart-property{
        font-size: 20px;
    }
    .chart-precentage{
        font-size: 12px;
    }
    .chart-bar{
        height: 15px;
    }
}
@media (max-width: 800px) {
    @keyframes techAnim1 {
        from{
            opacity: 0;
            transform: translateX(-35px);
        }to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .technologies{
        margin-top: 125px;
    }
    .technologies-menu{
        margin-top: 20px;
    }
    .technologies-menu li{
        margin-left: 50px;
    }
    .technologies-button{
        height: 55px;
        width: 55px;
    }
    .technologies-chart{
        margin-top: 25px;
    }
    .chart-property{
        font-size: 18px;
    }
    .chart-precentage{
        font-size: 11px;
    }
}
@media (max-width: 600px) {
    .technologies{
        margin-top: 75px;
    }
    .technologies-menu li{
        margin-left: 35px;
    }
    .technologies-button{
        height: 45px;
        width: 45px;
    }
    .technologies-chart{
        margin-top: 25px;
    }
    .chart-property{
        font-size: 14px;
    }
    .chart-precentage{
        font-size: 10px;
    }
    .chart-bar{
        height: 10px;
    }
}