@import "../../scssPartials/_colors";
@import "../../scssPartials/_breakpoints";
@import "../../scssPartials/_containerWidths";

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    padding-block: 35px;
    margin-top: 125px;

    width: 100%;

    font-family: "Orbitron", sans-serif;

    background-color: $black;
    border-top: 1px solid $borderColor;

    .inner-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: $fhd-w;

        .copyright {
            font-size: 16px;
            font-weight: 500;

            user-select: none;

            span {
                color: $pink;
            }
        }

        .footer-menu {
            display: flex;

            column-gap: 50px;

            li {
                font-size: 16px;

                transition: color 300ms;
                cursor: pointer;

                //anti mobile hover 
                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        color: $pink;
                    }
                }

                &:active {
                    color: $pink;
                }
            }
        }

        .footer-socials {
            display: flex;

            column-gap: 5px;

            a {
                height: 35px;
                width: 35px;
            }
        }
    }
}


@media (max-width: $sm-d) {
    footer {
        .inner-footer {
            width: $sm-d-w;

            .copyright {
                font-size: 14px;
            }

            .footer-menu {
                gap: 40px;

                li {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: $lg-mb) {
    footer {
        margin-top: 100px;
        padding-block: 45px;

        .inner-footer {
            flex-direction: column;

            row-gap: 30px;

            width: $lg-mb-w;

            .copyright {
                font-size: 18px;
            }

            .footer-menu {
                li {
                    font-size: 16px;
                }
            }

            .footer-socials {
                display: flex;

                column-gap: 20px;
            }
        }
    }
}

@media (max-width: $md-mb) {
    footer {
        padding-block: 35px;

        .inner-footer {
            flex-direction: column;

            row-gap: 25px;

            width: $md-mb-w;

            .copyright {
                font-size: 16px;
            }

            .footer-menu {
                gap: 35px;

                li {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: $sm-mb) {
    footer {
        margin-top: 50px;
        padding-block: 25px;

        .inner-footer {
            padding-block: 25px;

            width: $sm-mb-w-precent;
            min-width: $sm-mb-w;

            .copyright {
                font-size: 13px;
            }

            .footer-menu {
                li {
                    font-size: 11px;
                }
            }
        }

    }
}