@import "../../scssPartials/_colors";

footer {
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 35px;
    width: 100%;
    box-sizing: border-box;

    margin-top: 125px;

    background-color: $black;
    border-top: 1px solid $borderColor;

    .inner-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 1170px;

        .copyright {
            font-size: 18px;
            font-weight: 500;

            span {
                color: $pink;
            }
        }

        .footer-menu {
            display: flex;
            column-gap: 50px;

            li {
                cursor: pointer;

                transition: color 300ms;

                &:hover {
                    color: $pink;
                }
            }
        }

        .footer-socials {
            display: flex;
            column-gap: 15px;

            a {
                height: 35px;
                width: 35px;
            }
        }
    }
}

@media (max-width: 1440px) {
    footer .inner-footer {
        width: 940px;
    }
}

@media (max-width: 1024px) {
    footer {
        margin-top: 100px;
        padding-block: 45px;

        .inner-footer {
            flex-direction: column;
            row-gap: 30px;

            width: 724px;

            .footer-menu {
                column-gap: 40px;
            }
        }
    }
}

@media (max-width: 800px) {
    footer {
        padding-block: 35px;

        .inner-footer {
            flex-direction: column;
            row-gap: 25px;

            width: 570px;

            .footer-menu {
                row-gap: 35px;
            }
        }
    }
}

@media (max-width: 600px) {
    footer {
        margin-top: 50px;
        padding-block: 25px;

        .inner-footer {
            width: 320px;

            padding-block: 25px;

            .copyright {
                font-size: 14px;
            }

            .footer-menu {
                column-gap: 25px;

                li {
                    font-size: 14px;
                }
            }
        }

    }
}