//scss files for components are inside components folders and are imported to components

@use "./scssPartials/_colors" as *;
@use "./scssPartials/_breakpoints" as *;
@use "./scssPartials/_containerWidths" as *;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

// to bypass darkmodes ingeretion by browsers
:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;

  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Exo 2", sans-serif;
  color: $white;

  background-color: $black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image:
    radial-gradient(circle at center, $projectsPath 1px, transparent 2px),
    radial-gradient(circle at center, $borderColor 0.66px, transparent 1.5px),
    radial-gradient(circle at center, $darkGray 0.66px, transparent 1.5px);
  background-size: 80px 80px, 40px 40px, 40px 40px;
  background-position: -20px -20px, 0px 0px, 20px 20px;
  background-repeat: repeat, repeat, repeat;

  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $darkGray;
  }

  &::-webkit-scrollbar-thumb {
    background: $borderColor;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $purple;
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 265px;
  row-gap: 300px;
}

section {
  width: $fhd-w;
}

ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.section-title {
  font-weight: 600;
  font-size: 40px;
  font-family: "Orbitron", sans-serif;

}

textarea,
input {
  font-family: "Exo 2", sans-serif;
  color: $white;

  background-color: transparent;

  border: none;

  resize: none;

  &:focus {
    outline: none;
  }
}

//disable autofill background
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $white;
  transition: background-color 9999s ease-in-out 0s;

}

button {
  margin: 0px;
  padding: 0px;
  padding-block: 0px;
  padding-inline: 0px;

  color: $white;
  font-family: "Orbitron", sans-serif;

  background-color: transparent;

  outline: 0px;
  border: none;

  cursor: pointer;

  &:focus-visible {
    outline: 1px solid;
  }
}

a {
  margin: 0px;
  padding: 0px;
  padding-block: 0px;
  padding-inline: 0px;

  color: $white;
  text-decoration: none;
}

.socials {
  display: flex;
  align-items: center;

  a svg {
    height: 100%;
    width: 100%;

    //by default icons are gradient filled
    //this is the trick to create hover effect from white to gradient
    //cause svg cannot have changed fill to gradient via css
    &:not(:hover) path {
      fill: $white;
    }
  }
}

@media (max-width: $sm-d) {
  main {
    row-gap: 275px;
  }

  section {
    width: $sm-d-w;
  }

  .section-title {
    font-size: 38px;
  }
}

@media (max-width: $lg-mb) {
  main {
    margin-top: 200px;
    row-gap: 250px;
  }

  section {
    width: $lg-mb-w;
  }

  .section-title {
    font-size: 34px;
    text-align: center;
  }
}

@media (max-width: $md-mb) {
  main {
    margin-top: 155px;
    row-gap: 175px;
  }

  section {
    width: $md-mb-w;
  }

  .section-title {
    font-size: 30px;
  }
}

@media (max-width: $sm-mb) {
  main {
    margin-top: 110px;
    row-gap: 100px;
  }

  section {
    width: $sm-mb-w-precent;
    min-width: $sm-mb-w;
  }

  .section-title {
    font-size: 22px;
  }
}