//components css files are inside components folders
@import "./scssPartials/_flexCenter";
@import "./scssPartials/_colors";

@keyframes loadingAnim1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingAnim2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes titleAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// to bypass darkmodes ingered color changes
:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
  overflow-y: hidden;

  -webkit-tap-highlight-color: transparent;

}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: $black;
  background-image: url(./images/backgrounds/bg.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: $white;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: $darkGray;
}

body::-webkit-scrollbar-thumb {
  background: $borderColor;
}

body::-webkit-scrollbar-thumb:hover {
  background: $purple;
}

.loading-screen {
  @include flexCenter;
  flex-direction: column;

  height: 100%;
  width: 100%;

  background-color: $black;

  position: fixed;
  z-index: 4;
  top: 0;
}

.loading-screen img {
  height: 150px;
  width: 150px;

  animation: loadingAnim1 1.2s infinite;
  border-radius: 0px;
}

main {
  @include flexCenter;
  flex-direction: column;
  margin-top: 265px;
}

section,
hr {
  width: 1170px;
}

ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

hr {
  margin-top: 100px;

  border: 1px solid $borderColor;
  border-radius: 25px;
  filter: drop-shadow(0px 0px 2px $glow);
}

.section-title {
  font-weight: 600;
  font-size: 46px;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

textarea,
input {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: $white;

  resize: none;

  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $white;
  transition: background-color 9999s ease-in-out 0s;

}

button {
  cursor: pointer;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: $white;

  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;

  margin: 0px;
  padding: 0px;

  color: $white;
}

.socials {
  display: flex;
  align-items: center;

  a svg {
    height: 100%;
    width: 100%;

    &:not(:hover) path {
      fill: $white;
    }
  }
}

@media (max-width: 1440px) {
  @keyframes titleAnim {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  section,
  hr {
    width: 940px;
  }

  .section-title {
    font-size: 42px;
  }
}

@media (max-width: 1024px) {
  @keyframes titleAnim {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  main {
    margin-top: 200px;
  }

  section,
  hr {
    width: 724px;
  }

  .section-title {
    font-size: 38px;
    text-align: center;
  }

  hr {
    margin-top: 75px;
  }
}

@media (max-width: 800px) {
  @keyframes titleAnim {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  main {
    margin-top: 155px;
  }

  section,
  hr {
    width: 570px;
  }

  .section-title {
    font-size: 34px;
  }

  hr {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .loading-screen img {
    height: 75px;
    width: 75px;
  }

  main {
    margin-top: 110px;
  }

  section,
  hr {
    width: 320px;
  }

  .section-title {
    font-size: 24px;
  }

  hr {
    margin-top: 25px;
  }
}