//components css files are inside components folders
@import "./scssPartials/_colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@keyframes titleAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// to bypass darkmodes ingeretion by browsers
:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
  overflow-y: hidden;

  -webkit-tap-highlight-color: transparent;

}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: $black;
  background-image: url(./images/backgrounds/bg.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: $white;
  overflow-x: hidden;
  overflow-y: hidden;
  // background-image:
  //   radial-gradient(circle at center, $projectsPath 1px, transparent 2px),
  //   radial-gradient(circle at center, $borderColor 0.66px, transparent 1.5px),
  //   radial-gradient(circle at center, $darkGray 0.33px, transparent 1px);


  // background-size: 80px 80px, 40px 40px, 40px 40px;
  // background-position: -20px -20px, 0px 0px, 20px 20px;
  // background-repeat: repeat, repeat, repeat;

  // mix-blend-mode: screen;

}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: $darkGray;
}

body::-webkit-scrollbar-thumb {
  background: $borderColor;
}

body::-webkit-scrollbar-thumb:hover {
  background: $purple;
}


//loading screen
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  height: 100%;
  width: 100%;

  background-color: $black;
  position: fixed;
  z-index: 10;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
    z-index: 1;

    background-image:
      radial-gradient(circle at center, $projectsPath 1px, transparent 2px),
      radial-gradient(circle at center, $borderColor 0.66px, transparent 1.5px),
      radial-gradient(circle at center, $darkGray 0.33px, transparent 1px);


    background-size: 80px 80px, 40px 40px, 40px 40px;
    background-position: -20px -20px, 0px 0px, 20px 20px;
    background-repeat: repeat, repeat, repeat;

    mix-blend-mode: screen;
  }

  .chips-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    .chip {
      background-color: $black;
      height: 50px;
      width: 50px;
      border: 2px solid $projectsPath;
      border-radius: 5px;
      z-index: 1;

      &:first-child {
        align-self: flex-end;
      }
    }

    .loading-logo {
      position: relative;
      padding: 50px;
      z-index: 3;


      svg {
        height: 176px;
        width: auto;
        max-height: 176px;
        max-width: auto;

        transition: filter 150ms;
        filter: grayscale(40%);

        &.active {
          filter: grayscale(0%);
        }
      }
    }
  }

  .loading-paths,
  .border-paths,
  .ball {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    isolation: isolate;

    path {
      stroke: $projectsPath;
      fill: none;
      stroke-width: 2px;
    }
  }

  .ball {
    z-index: 2;

    circle {
      r: 4;
      fill: $pink;
    }
  }
}

@media (max-height: 600px) {
  .loading-screen {

    .chips-wrap {
      row-gap: 25px;

      .chip {
        height: 25px;
        width: 25px;
      }

      .loading-logo {
        padding: 20px;

        svg {
          height: 30vh;
          width: auto;
        }
      }
    }
  }
}


main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 265px;
}

section,
hr {
  width: 1170px;
}

ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

hr {
  margin-top: 100px;

  border: 1px solid $borderColor;
  border-radius: 25px;
  filter: drop-shadow(0px 0px 2px $glow);
}

.section-title {
  font-weight: 600;
  font-size: 46px;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

textarea,
input {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: $white;

  resize: none;

  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $white;
  transition: background-color 9999s ease-in-out 0s;

}

button {
  cursor: pointer;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: $white;

  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;

  margin: 0px;
  padding: 0px;

  color: $white;
}

.socials {
  display: flex;
  align-items: center;

  a svg {
    height: 100%;
    width: 100%;

    &:not(:hover) path {
      fill: $white;
    }
  }
}


@media (max-width: 1440px) {
  @keyframes titleAnim {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  section,
  hr {
    width: 940px;
  }

  .section-title {
    font-size: 42px;
  }
}

@media (max-width: 1024px) {
  @keyframes titleAnim {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  main {
    margin-top: 200px;
  }

  section,
  hr {
    width: 724px;
  }

  .section-title {
    font-size: 38px;
    text-align: center;
  }

  hr {
    margin-top: 75px;
  }
}

@media (max-width: 800px) {
  @keyframes titleAnim {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  main {
    margin-top: 155px;
  }

  section,
  hr {
    width: 570px;
  }

  .section-title {
    font-size: 34px;
  }

  hr {
    margin-top: 50px;
  }


  .loading-screen {
    .chips-wrap {
      row-gap: 40px;

      .chip {
        height: 40px;
        width: 40px;
      }

      .loading-logo {
        padding: 40px;

        svg {
          height: 117px;
          width: auto;
          max-height: 117px;
        }
      }
    }
  }

  @media (max-height: 600px) {
    .loading-screen {

      .chips-wrap {
        row-gap: 25px;

        .chip {
          height: 25px;
          width: 25px;
        }

        .loading-logo {
          padding: 20px;

          svg {
            height: 30vh;
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .loading-screen img {
    height: 75px;
    width: 75px;
  }

  main {
    margin-top: 110px;
  }

  section,
  hr {
    width: 320px;
  }

  .section-title {
    font-size: 24px;
  }

  hr {
    margin-top: 25px;
  }

  .loading-screen {

    .chips-wrap {
      row-gap: 25px;

      .chip {
        height: 25px;
        width: 25px;
      }

      .loading-logo {
        padding: 20px;

        svg {
          height: 30vh;
          width: auto;
        }
      }
    }
  }
}